@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root{
    --color-header: white;
}
.home{
    font-family: 'Open Sans', sans-serif;
    --opacidad-negro: 0.7;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url('../images/musician.jpg');
}

.hero{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    

}

.title_hero{
    color: #fff;
    font-size: 2.5rem;
}

.container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
}

.items{
    list-style: none;
}

.link_item{
    font-size: 1.2rem;
    color: #fff;
    list-style: none;
    text-decoration: none;
}

/* -----------------Bajo ----------------*/


.homeb{
    font-family: 'Open Sans', sans-serif; 
}

.herob::before{
    --opacidad-negro: 0.6;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))),url(../images/bass-background.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 95%, 0 80%);
    z-index: -1;
}

.herob{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color:#fff
}

.containerb{
    --pading-containerb: 100px 0;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
    color:white;

}

/* Nav */
.navb{
    --padding-containerb:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.navb_title{
    font-weight: 300;
}

.nav_items_bass{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    gap: 2em;
}

.nav_link_bass{
    text-decoration: none;
    list-style: none;
    color: #fff;
}

/* ---------about */

.about{
    text-align: center;
}

.subtitle{
    color: #FC6736;
    font-size: 2rem;
    margin-bottom: 25px;
}

.about_paragraph{
    line-height: 1.7;
    color: black;
    
}

.about_main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: o auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about_icon{
    width: 40px;
    
}


.about_title{
    color: #FE7A36;
}

/* Segundo articulo bass */
/* article bajo */
.bass-article{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 2fr;
    grid-template-rows: 100px 200px 100px 300px 100px 300px ;
    grid-template-areas: 
    "svg1    title1   img1"
    "txt     txt     img1"
    "svg2    title2   img2"
    "frame1  frame1  img2"
    "svg3    title3   img2"
    "frame2  frame2  img2";
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 4rem;
}

.img-article1{
    grid-area: svg1;
}

.bh1{
    grid-area: title1;
    color: #FC6736;
    font-size: 2rem;
}

.img-b1{
    grid-area: img1;
    
}

.p-article{
    grid-area: txt;
    color: black;
    font-size: 1rem;
}

.img-article2{
    grid-area: svg2;
}

.bh2{
    grid-area: title2;
    color: #FC6736;
    font-size: 2rem;
}

.img-b2{
    grid-area: img2;
}

.iframe-b1{
   grid-area: frame1; 
}

.img-article3{
    grid-area: svg3;
}

.bh3{
    grid-area: title3;
    color: #FC6736;
    font-size: 2rem;
}

.iframe-b2{
   grid-area: frame2; 
}

/* ----------------Guitarra acustica */
/* menú de naavegación */
.homega{
    font-family: 'Open Sans', sans-serif; 
}

.heroga::before{
    --opacidad-negro: 0.6;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))),url(../images/guitarraA-background.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 95%, 0 80%);
    z-index: -1;
}

.heroga{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color:#fff
}

.containerga{
    --pading-containerb: 100px 0;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
    color:white;

}

/* Nav */
.navga{
    --padding-containerb:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.navga_title{
    font-weight: 300;
}

.nav_items_ga{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    gap: 2em;
}

.nav_link_ga{
    text-decoration: none;
    list-style: none;
    color: #fff;
}
/* Contenido guitarra acustica */
.acustic-guitar{
    background-color: #ce9825;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.hga{
    text-align: center;
    font-size: 2rem;
}

.img-guitar1, .img-guitar2{
    width: 100%;
    height: 100%;
}

.guitarP1, .guitarP2{
    font-size: 1.2rem;
}

.guitarA{
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    grid-template-rows: 300px repeat(2, 200px) 300px;
    grid-template-areas: 
    "frame1 img1"
    "pg1    img1"
    "img2   pg2"
    "img2   frame2";
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: end;
}

.frameG1{
    grid-area: frame1;
}

.img-guitar1{
    grid-area: img1;
}

.guitarP1{
    grid-area: pg1;
}

.img-guitar2{
    grid-area: img2;
}

.guitarP2{
    grid-area: pg2;
}

.frameG2{
    grid-area: frame2;
}

/* segundo articulo de guitarra acustica */
.card-group{
    margin-bottom: 10px;
}
.card-img-top{
    height: 40px;
    width: 40px;
}

.card-body{
    color: #76453B;
}

/* -------------------Guitarra Eléctrica -------*/
.homege{
    font-family: 'Open Sans', sans-serif; 
    background-color: #B4B4B8;
}

.heroge::before{
    --opacidad-negro: 0.6;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))),url(../images/guitarE-background.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 95%, 0 80%);
    z-index: -1;
}

.heroge{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color:#fff
}

.containerge{
    --pading-containerb: 100px 0;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
    color:white;

}

/* Nav */
.navge{
    --padding-containerb:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.navge_title{
    font-weight: 300;
}

.nav_items_ge{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    gap: 2em;
}

.nav_link_ge{
    text-decoration: none;
    list-style: none;
    color: #fff;
}

/* carrousel de guitarra electrica */
.guitar{
    background-color: #DCF2F1;
    
}

.h1-carrousel{
    text-align: center;
    margin: 2rem;
}

.carousel-inner{
    background-color:#092635;
    margin-bottom: 2rem;
    
}

/* About guitarra eléctrica */
.aboutgE{
    text-align: center;
}

.subtitlegE{
    color: #0B60B0;
    font-size: 2rem;
    margin-bottom: 25px;
}

.about_paragraph{
    line-height: 1.7;
    color: black;
    
}

.about_main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: o auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about_icon{
    width: 40px;  
}

.about_title{
    color: #0B60B0;
}


/* -------------contacto------------ */
.header_home{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: #12372A;
}

.nav-header{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    color: white;
    gap: 1rem;
}

/* Formulario */
.formTitulo{
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

form{
    align-items: center;
    margin-bottom: 2rem;
}


/*-------------footer ---------------*/
/* footer */
.pie{
    background-color: #86A7FC;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,50px);
    grid-template-areas: 
    "tit  tit  tit"
    "p    p    p"
    "img1 img2 img3";
    align-items: center;
    justify-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h2{
    grid-area: tit;
}

.p-footer{
    grid-area: p;
}

icon-pie1{
    grid-area: img1;
}

icon-pie2{
    grid-area: img2;
}

icon-pie3{
    grid-area: img3;
}