.homeb {
    font-family: var(--font-family);

    .herob {
        width: 100%;
        height: 100vh;
        min-height: 600px;
        max-height: 800px;
        position: relative;
        display: grid;
        grid-template-rows: 100px 1fr;
        color: #fff;
    }
    &::before {
        --opacidad-negro: 0.6;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url(../images/bass-background.jpg);
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 95%, 0 80%);
        z-index: -1;
        .containerb{
            --pading-containerb: 100px 0;
            width: 90%;
            max-width: 1200px;
            margin: 0 auto;
            overflow: hidden;
            padding: var(--padding-container);
            color:white;
        
        }
    }
}