@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root{
    --font-family: 'Open Sans', sans-serif;
    --opacidad-negro: 0.7;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url('../images/musician.jpg');;
    --color--titleIndex: #fff;
    --color--titlepages:#FC6736;
}